footer{
    width: 100%;
    padding: 40px 10% 10px 10%;
    background: #000;
    .footer__card{
        &--content{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #999;   
            padding-bottom: 30px;     
        }
        &--contact{
            ul{
                list-style-type: none;
                li{
                    color: #999;;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    font-size: 14px;
                    line-height: 1.6;
                    svg{
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
        &--link{
            display: flex;
            ul{
                list-style-type: none;
                margin-left: 30px;
                li{
                    color: #fff;
                    font-size: 14px;
                    line-height: 1.6;
                    height: 30px;
                    a{
                        text-decoration: none;
                        color: #999;
                    }
                }
            }
        }
        &--copyright{
            p{
                font-size: 14px;
                line-height: 1.6;
                color: #999;
                text-align: center;
                padding: 10px 0;
            }
        }
    }
}